@model Melog.Models.IndexViewModels.ArticleViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="content-block">
    <div class="title-block">
        <div class="date-format"></div>
        <div class="title-format">編集</div>
    </div>
    <div class="main-block">
        <div class="left-area">
            @using (Html.BeginForm("Save", "Article", FormMethod.Post, new { }))
            {
                @Html.HiddenFor(m => m.ArticleId)
                <div class="editor-wrapper">
                    <p class="edit-label">タイトル</p>
                    @Html.TextBoxFor(m => m.Title, new { @id = "title-box", @placeholder = "タイトルを入力してください" })
                    <p class="edit-label">本文</p>
                    @Html.TextAreaFor(m => m.Description, new { @id = "description-box", @class = "form-control" })
                    <p class="edit-label">Tag</p>
                    @Html.TextBoxFor(m => m.CategoryText, new { @id = "category-box", @Value = string.Join(",", Model.Categories), @placeholder = "カテゴリをカンマ区切りで入力してください" })
                    <input type="submit" value="保存" />
                    @*<div id="result"></div>*@
                </div>
            }
        </div>
        <div class="right-area">right</div>
    </div>
</div>