html {
    font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.header-block {
    width: 100%;
    height: 40px;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    color: #88c459;
}

.site-name {
    float: left;
    color: #88c459;
    font-family: 'Sarpanch', sans-serif !important;
    margin-right: 30px;
}

.site-link {
    color: #88c459;
}

    .site-link:hover, .site-link:visited {
        color: #88c459;
        text-decoration: none;
    }

.title-block {
    width: 100%;
    min-height: 150px;
    height: auto !important;
    height: 150px;
    background-color: #88c459;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.date-format {
    font-size: 16px;
    color: white;
    float: left;
    margin-right: 20px;
}

.title-format {
    font-size: 35px;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
}

.main-block {
    padding-top: 20px;
    height: 400px;
}

.left-area {
    width: 70%;
    min-height: 1px;
    float: left;
    padding-left: 100px;
    padding-right: 30px;
}

.right-area {
    width: 30%;
    float: left;
    padding-left: 30px;
}

.footer-block {
    clear:both;
    height: 30px;
    padding-left: 100px;
    bottom: 0px;
}

.copyright {
    font-size: 12px;
}

.categories {
    margin-left: 0px;
    list-style-type: none;
    font-size: 12px;
    color: white;
    padding: 0px !important;
    clear:both;
}

.category {
    float: left;
    background-color:#ffa035;
    /*box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);*/
    width: auto;
    margin-right: 10px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
}

.new-article-btn {
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 7px;
    height: 28px !important;
    float: right;
    border: 2px solid #88c459;
    color: #88c459;
    -webkit-transition: none;
    margin-left: 10px;
    /*font-weight:bold;*/
    background-color: white;
    font-weight:bold;
}

    .new-article-btn:hover {
        /*border: 1px solid #c76800;*/
        background-color: #88c459;
        color: white;
        transition: background-color 0.7s;
    }


.btn-wrapper {
    zoom: 50%;
    float: left;
}

.new-article-label {
    float: right;
    font-size: 15px;
    margin-top: -1px;
    margin-left: 5px;
}

#description-box {
    height: 300px;
    margin-bottom: 20px;
}

#title-box {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

#category-box {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.content-block {
    margin-bottom: 50px;
}


.past-articles {
    width: 100%;
    margin-bottom: 20px;
}

.past-articles-index {
    background: #88c459;
    color: white;
    border-radius: 8px;
    padding-left: 5px;
}

.past-articles-list-item {
    clear: both;
    list-style-type: none;
}

.past-articles-list-item-date {
    font-size: 12px;
    float: left;
    width: 20px;
    height: 20px;
    background: #88c459;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin-right: 10px;
}

.past-articles-list-item-title {
    float: left;
}

.past-articles-list-item-date {
    color: white;
    font-weight: bold;
    padding-top: 1px;
    padding-left: 3px;
}

    .past-articles-list-item-date:hover, .past-articles-list-item-date:visited {
        color: white;
        font-weight: bold;
        text-decoration: none;
    }

.yearly-list {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.monthly-list {
    list-style-type: none;
    list-style-position: inside;
    display: none;
    padding-left: 20px;
    margin: 0;
}

.daily-list {
    list-style-type: none;
    list-style-position: inside;
    display: none;
    padding-left: 20px;
    margin: 0;
}

.archive-list {
    list-style-type: none;
    list-style-position: inside;
    display: none;
    padding-left: 10px;
    margin: 0;
}

.year-label {
    font-size: 14px;
    margin-top: -1px;
    padding-left: 10px !important;
}

.month-label {
    font-size: 14px;
    margin-top: -1px;
    padding-left: 10px !important;
}

.day-label {
    font-size: 14px;
    margin-top: -1px;
    padding-left: 10px !important;
}

.archive-label {
    font-size: 14px;
    margin-top: -1px;
    padding-left: 10px !important;
}

.active {
    display: block;
}

.item-btn {
    width: 100px;
}

li {
    margin: 0;
    padding: 0;
    list-style-position: outside;
}

.arrow-down {
    width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top: 5px solid #88c459;
    float:left;
    margin-top:7px;
    margin-right:5px;
}

.arrow-right {
    width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left: 5px solid #88c459;
    float:left;
    margin-top:4px;
    margin-left:3px;
    margin-right:2px;
}

.search-box {
    font-size: 16px;
    float:left;
    margin-top:6px;
    color: black;
}

.result-container {
    width: 100%;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    padding: 5px 10px;
    /*background-color: #9dd172;*/
}
.result-container:hover {
    width: 100%;
    height: 60px;
    border: 2px solid #88c459;
    /*background-color: #b3d895;*/
    /*box-shadow: 1px 2px 5px rgba(0, 0, 0, .4);*/
    margin-bottom: 20px;
    padding: 5px 10px;
}

.result-title {
    font-size: 20px;
    margin: 0;
}

.result-createdat {
    font-size: 10px;
    height: auto;
    margin: 0;
}

a.no-decoration {
    text-decoration:none;
    transition: none;
    color: black;
}

.margin35 {
    height: 35px;
}

.category a {
    text-decoration:none;
    color: white;
}
.category a:hover {
    background-color: #fead53;
}
.edit-label{
    font-size: 12px !important;
    color: #696969 !important;
    margin-bottom:2px !important;
}

.comment-text{
    border: 1px solid #b7b7b7;
    color: #939393;
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 3px;
    font-size: 14px;
}

.comment-area{
    margin-top: 50px;
    margin-bottom: 50px;
}

#comment-box {
    margin-top: 20px;
}